/* DataTable.css */
.data-table-row:hover .label-text {
  color: white !important;
}

.data-table-row:hover .content-text {
  color: white !important;
}

.data-table-row[data-active="true"] .label-text,
.data-table-row[data-active="true"] .content-text {
  color: white !important;
}

.data-table-icon {
  cursor: pointer;
  transition: color 0.2s ease, fill 0.2s ease, stroke 0.2s ease;
}

.data-table-icon:hover {
  color: #90FF00 !important;
  fill: #90FF00 !important;
  stroke: #90FF00 !important;
}

.data-table-row:hover .data-table-icon {
  color: white;
  fill: white;
  stroke: white;
}

.data-table-row:hover .data-table-icon:hover {
  color: #90FF00 !important;
  fill: #90FF00 !important;
  stroke: #90FF00 !important;
}

.data-table-row[data-active="true"] .data-table-icon {
  color: white;
  fill: white;
  stroke: white;
}
